<!DOCTYPE html>
<html lang="en">
    {% extends "base.html" %}
    {% block content %}
    {% include 'header.html' %}
    <body>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>Categories</h1>
                    <br>
                    {% for category in categories %}
                    <a href = "{{url_for('showItems', category = category.name)}}">
                        {{category.name}}
                        <br>
                        {% endfor %}
                    </a>
                </div>
                <div style="border-left:1px solid #919191;height:250px"></div>
                <div class="col">
                    {%if 'username' in session %}
                    <a href = "{{url_for('newItem')}}">Add Item</a>
                    {% endif %}
                    <h1>Latest Items</h1>
                    <br>
                    {% for item in items %}
                    <a href = "{{url_for('showItemDescription', category = item.item_category.name, item_title = item.title)}}"/>
                    {{item.title}} <i>({{item.item_category.name}})</i>
                    <br>
                    {% endfor %}
                </div>
            </div>

        </div>
        {% endblock %}
    </body>
</html>