{% extends "base.html" %}
{% block content %}
{% include 'header.html' %}
<body>
    <div class="container">
        <h1>Contact</h1>
        <center>
            <img width="200px" height="200px" src="https://avatars0.githubusercontent.com/u/7691779?s=460&v=4"/>
            <br/>
            <br/>
            <h3>Developer: Cássio Espindola</h3>
            <h4>e-mail: cassioafonso@gmail.com</h4>
            <h4>github profile: <a target="_blank" href="https://github.com/cassioesp">@cassioesp</a></h4>
            
        </center>
    </div>
</body>
{% endblock %}
