<!DOCTYPE html>
<html lang="en">
    {% extends "base.html" %}
    {% block content %}
    {% include 'header.html' %}
    <body>

        <!-- Page Content -->
        <div class="container">
            <div class="row">

                <div class="col-lg-3">

                    <h1 class="my-4">Categories</h1>
                    <div class="list-group">
                        {% for category in categories %}
                        <a href="{{url_for('showItems', category = category.name)}}" class="list-group-item">{{category.name}}</a>
                        {% endfor %}
                    </div>
                </div>
                <!-- /.col-lg-3 -->
                <div class="col-lg-9">
                    <h1>{{category.name}} ({{items|length}} Items) </h1>
                    {%if 'username' in session %}
                    <div>
                        <a class="btn btn-success" href = "{{url_for('newItem')}}">Add Item</a>
                    </div>
                    <br/>
                    {% endif %}
                    <div class="row">
                        {%if items|length == 0 %}
                        <div>
                            <br><br><br>
                            <center><h3>Sorry, no items in this category! :(</h3></center>
                        </div>
                        {% endif %}
                        {% for item in items | reverse %}
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h4 class="card-title">

                                        <a href = "{{url_for('showItemDescription', category = item.item_category.name, item_title = item.title)}}">
                                            {{item.title}}</a>
                                        <br>
                                    </h4>
                                    <p class="card-text">{{item.description}}</p>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.col-lg-9 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
        <!-- Footer -->
        <footer class="py-5 bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white">Copyright &copy; Cássio Espíndola 2018</p>
            </div>
            <!-- /.container -->
        </footer>
        <!-- Bootstrap core JavaScript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        {% endblock %}
    </body>

</html>
